{% extends 'base.html' %}



{% block content %}







 
  
  <!DOCTYPE html>
  <html lang="en">
  
  
  <body class="bg-gradient-primary">
  
      <div class="container">
  
          <!-- Outer Row -->
          <div class="row justify-content-center">
  
              <div class="col-xl-10 col-lg-12 col-md-9" style='max-width: 50%;flex: 0 0 50%;'>
  
                  <div class="card o-hidden border-0 shadow-lg my-5">
                      <div class="card-body p-0">
                          <!-- Nested Row within Card Body -->
                          <div class="row">
                             
                              <div class="col-lg-6" style='max-width: 100%;flex: 0 0 100%;'>
                                  <div class="p-5">
                                      <div class="text-center">
                                        <h1>Check your inbox.</h1>
                                        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                                      </div>
  
                                     
  
                                
                                      <hr>
                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  
              </div>
  
          </div>
  
      </div>
  
      <!-- Bootstrap core JavaScript-->
  
  </body>
  
  </html>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  {% endblock %}






