 <!-- ============================================================== -->
 {% extends 'base.html' %}
{% load static %}
{% block content %}  
 <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Default Group Data</h3>
          
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <div class="d-flex m-t-10 justify-content-end">
                   
              
                    
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default Group Data</h4>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                 <tr>
                                   
                                    
                                       <th style='text-transform: uppercase;'>Name</th>
                                       <th style='text-transform: uppercase;'>Type</th>
                                  
                                        
                                 </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                 
                                        
                                           <th style='text-transform: uppercase;'>Name</th>
                                           <th style='text-transform: uppercase;'>Type</th>
                                      
                                          
    
                                     </tr>
                                </tfoot>
                                <tbody>

                                    {% for item in stock %}
                                    <tr>
                             
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.type }}</td>

                                      
                                  
                                    
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                       




                    </div>
                </div>
          
               
            </div>
        </div>


        
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                  
                    <div class="card-body">
                        <h2 class="m-0 font-weight-bold text- ">Ledgers</h2>
                        <div class="table-responsive m-t-40">
                            <table id="example24" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                 <tr>
                                   
                                    
                                       <th style='text-transform: uppercase;'>Name</th>
                                       <th style='text-transform: uppercase;'>Group</th>
                     
                                  
                                        
                                 </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                 
                                        
                                        <th style='text-transform: uppercase;'>Name</th>
                                        <th style='text-transform: uppercase;'>Group</th>
              
                                      
                                          
    
                                     </tr>
                                </tfoot>
                                <tbody>

                                    {% for item in items %}
                                    <tr>
                             
                                        <td><a href='/ledgers/edit/{{ item.id }}/'>{{ item.name }}</a></td>
                                        <td>{{ item.header.name }}</td>
                                
                                  
                                    
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                              
                            </form>                        
                    </div>
                </div>

        <!-- Row -->
       
        <!-- Row -->
        <!-- Row -->
      
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <footer class="footer"> © 2021 Flower Apps </footer>
        <!-- ============================================================== -->
    </div>
</div>


    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
{% endblock %}