


 <!-- ============================================================== -->
 {% extends 'base.html' %}
{% load static %}
{% block content %}  
 <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Ledger</h3>
          
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <div class="d-flex m-t-10 justify-content-end">
                    
                    
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text- ">Edit Ledger</h6>
                      
                    </div>
                    <div class="card-body">
                        {% if messages %}
                             <ul class="messages">
                             {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                             {% endfor %}
                             
                             </ul>
                             {% endif %}
                             <form action="{% url 'editledgers' stockid=form.instance.pk %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                           
                              <button type="submit" value='save' name='save'>Save</button>
                              <input type="submit" name="save" value="delete" onclick="return confirm('Do you really want to delete the stock?');" />
                              
                            </form>                        
                    </div>
                </div>
                
          
               
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                  
                    <div class="card-body">
                        <h2 class="m-0 font-weight-bold text- ">Cost Centers</h2>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                 <tr>
                                   
                                    
                                       <th style='text-transform: uppercase;'>Name</th>
                                       <th style='text-transform: uppercase;'>Description</th>
                                       <th style='text-transform: uppercase;'>Under</th>
                                  
                                        
                                 </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                 
                                        
                                           <th style='text-transform: uppercase;'>Name</th>
                                           <th style='text-transform: uppercase;'>Description</th>
                                           <th style='text-transform: uppercase;'>Under</th>
                                      
                                          
    
                                     </tr>
                                </tfoot>
                                <tbody>

                                    {% for item in stock %}
                                    <tr>
                             
                                        <td><a href='/costcenters/edit/{{ item.id }}/'>{{ item.Name }}</a></td>
                                        <td>{{ item.Description }}</td>
                                        <td>{{ item.ltype.name }}</td>
                        
                                  
                                    
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                              
                            </form>                        
                    </div>
                </div>
                
          
               
            </div>
        </div>
        <!-- Row -->
       
        <!-- Row -->
        <!-- Row -->
      
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <footer class="footer"> © 2021 Payal Exim Concern </footer>
        <!-- ============================================================== -->
    </div>
</div>


    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
{% endblock %}